<div class="header">
  <div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
          <ul class="leftul">
            <li><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> +91 33 2424 4745</li>
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 9903044748</li>  
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
            <ul class="rightul">
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@synergicsoftek.com</li>
            </ul>    
        </div>
    </div>
  </div>
</div>

<div class="nav-div" (scroll)="scrollHandler()">

  <nav class="navbar collapsing navbar-light" [ngStyle]="{
                                                            'top': tempVar ? '0px' : '34px',
                                                            'height': tempVar ? '70px' : '85px'
                                                         }">

      <div class="col-lg-4 col-md-4 col-xs-5">
          <a class="navbar-brand" href="/"><img src="../../assets/sss.png" class="logo" alt="logo"><br><img src="../../assets/synergic.png" class="logo2" alt="logo"></a>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-5">
          <a class="nav__link" href="#">Home</a>
          <a class="nav__link" href="#">About Us</a>
          <a class="nav__link" href="#">Service</a>
          <a class="nav__link" href="#">Technology</a>
          <a class="nav__link" href="#">Contact Us</a>
      </div> 
      <div class="col-lg-2 col-md-2 col-xs-2">
          <a href="#" class="enquiry">Project Enquiry</a>
      </div>   
  </nav>

</div>