<div class="footer">

    <div class="row">
      
      <div class="col-lg-2 col-md-3 col-6">
        <strong>Apps</strong>
        <ul>
          <li><a ng-href="/apps/visual-tickets" href="/apps/visual-tickets">Visual Tickets</a></li>
          <li><a ng-href="/apps/time-tracker" href="/apps/time-tracker">Time Tracker</a></li>
          <li><a ng-href="/apps/tasks" href="/apps/tasks">Tasks</a></li>
          <li><a ng-href="/apps/projects" href="/apps/projects">Projects</a></li>
          <li><a ng-href="/apps/contacts" href="/apps/contacts">Contacts</a></li>
          <li><a ng-href="/apps/icons" href="/apps/icons">Icons</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
          <strong>Apps</strong>
          <ul>
            <li><a ng-href="/apps/visual-tickets" href="/apps/visual-tickets">Visual Tickets</a></li>
            <li><a ng-href="/apps/time-tracker" href="/apps/time-tracker">Time Tracker</a></li>
            <li><a ng-href="/apps/tasks" href="/apps/tasks">Tasks</a></li>
            <li><a ng-href="/apps/projects" href="/apps/projects">Projects</a></li>
            <li><a ng-href="/apps/contacts" href="/apps/contacts">Contacts</a></li>
            <li><a ng-href="/apps/icons" href="/apps/icons">Icons</a></li>
          </ul>
        </div>
    </div>

</div>
