<div class="footer">

    <div class="row">
      <div class="col-lg-4 col-md-3 col-6">
          <a class="navbar-brand" href="/"><img src="../../assets/sss.png" class="logo" alt="logo"></a><br><p class="logo2">Synergic Softek Solutions Pvt. Ltd.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <strong class="strong-label">Important Links</strong>
        <ul>
          <li><a ng-href="/apps/visual-tickets" href="/apps/visual-tickets">Visual Tickets</a></li>
          <li><a ng-href="/apps/time-tracker" href="/apps/time-tracker">Time Tracker</a></li>
          <li><a ng-href="/apps/tasks" href="/apps/tasks">Tasks</a></li>
          <li><a ng-href="/apps/icons" href="/apps/icons">Icons</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
          <strong class="strong-label">Important Links</strong>
          <ul>
            <li><a ng-href="/apps/visual-tickets" href="/apps/visual-tickets">Visual Tickets</a></li>
            <li><a ng-href="/apps/time-tracker" href="/apps/time-tracker">Time Tracker</a></li>
            <li><a ng-href="/apps/tasks" href="/apps/tasks">Tasks</a></li>
            <li><a ng-href="/apps/icons" href="/apps/icons">Icons</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
            <strong class="strong-label">Follow us on</strong>
            <ul>
              <li><a class="nav__icon" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a class="nav__icon" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a class="nav__icon" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
    </div>
</div>
<div class="foot">
  
  Copyright &copy; Synergic Softek Solutions Pvt. Ltd.
</div>
