<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images">
    <img [src]="image.path" alt="Random slide" class="car-img">
    <div class="carousel-caption">
      <h3>{{image.head}}</h3>
      <p>{{image.description}}</p>
    </div>
  </ng-template>
</ngb-carousel>
  
<div class="container">
  <div class="row section-header">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="services-head text-center">
        <h1>Our Services</h1>
        <p>
          praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint <br> Voluptatem accusantium doloremque laudantium sprea totam rem aperiam
        </p>
      </div>
    </div>
  </div>
  <div class="row section-body text-center">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    
  </div>

  <div class="row section-header">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="services-head text-center">
        <h1>WHAT ARE WE DOING?</h1>
        <p>
          praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint <br> Voluptatem accusantium doloremque laudantium sprea totam rem aperiam
        </p>
      </div>
    </div>
  </div>
  <div class="row section-body text-center">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="single-services">
        <a class="services-icon" href="#">
            <i class="fa fa-wordpress fa-3x"></i>
          </a>
        <h4>Wordpress Developer</h4>
        <p>
          will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
        </p>
      </div>
    </div>
    
  </div>
</div>